.heading1{
    text-align: center;
    text-decoration: underline;
    color:red;
    size: 100;
}

.para1{
    align-content: center
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }