<html>
<body bgcolor="pink">

<p class="heading1">Analyze Your Code Before You Go Forward!!!</p>
<div>
    
<input type="text"  style="height: 500px;width:850"> <input type="text"  style="height: 500px;width:850">
</div>



<input type="button" value="Analyze with checkstyle"  class="button button1">
<input type="button" value="Analyze with Pmd"  class="button button1">
<input type="button" value="Analyze with Simian"  class="button button1">
<input type="button" value="Analyze with All tools"  class="button button1">

</body>
</html>