
<body>
    
    <br><br>
<p class="heading1">Analyze Your Code Before You Go Forward!!!</p>
<br> <br>
<div>
    
    <textarea name="area" #code rows="40" cols="90"   placeholder="Write your code here..."></textarea>
  
     
    
    <textarea type="area" id="outputarea"  rows="40" cols="90" value=" YOUR REPORT HERE:{{report}}"  readonly></textarea>
    </div> 



    <div>
<br>
<br>
  <input type="button" (click)=" getUserCode(code.value)" value="Upload" class="myButton">
  <div> <p class="heading1">{{message}} </p></div>

    </div>


    <div>
<input type="button" value="Analyze with checkstyle"  class="myButton1" (click)="ButtonClick('/codecs')" id=btnsubmit>
<input type="button" value="Analyze with Pmd"  class="myButton1" (click)="ButtonClick('/codepmd')">
<input type="button" value="Analyze with Simian"  class="myButton1" (click)="ButtonClick('/codesim')">
<input type="button" value="Analyze with All tools"  class="myButton1" (click)="ButtonClick('/codeall')">
<br>
<br>
</div>

</body>
