<h1>Enter the GitHub URL: </h1><input #git type="text" id="giturl"><input type="button" (click)=" getGitUrl(git.value)" value="Upload">

<p align="center"><font class="test1">{{message}}</font></p>

   

 Analyse Repository With:
 

 <button type="button"  (click)="btn1Click()">Check-Style</button> 
 <button type="button"  (click)="btn2Click()"> Pmd</button>   
 <button type="button"  (click)="btn3Click()">Simian</button>
 <button type="button"  (click)="btn4Click()">All Tools</button> 
 


<input type="button" (click)=" backClicked()"  value=" Go Back">
  
