<h1>Enter the GitHub URL: </h1><input #git type="text" id="giturl"><input type="button" (click)=" getGitUrl(git.value)" value="Upload">

<p align="center"><font class="test1">{{message}}</font></p>

   

 Analyse Repository With:
 

 <button type="button"  (click)="CheckStyleClick()">Check-Style</button> 
 <button type="button"  (click)="PmdClick()"> Pmd</button>   
 <button type="button"  (click)="SimianClick()">Simian</button>
 <button type="button"  (click)="AllClick()">All Tools</button> 
 


<input type="button" (click)=" backClicked()"  value=" Go Back">
  
