.test1 {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: clip;
    font-size: 201%;
    color:red;
  }

  .heading1{
    text-align: center;
    text-decoration: underline;
    color:red;
    size: 400;
}

.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

div { text-align: center; }

body{
  filter: 
progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b74b0', endColorstr='#2b446a');
background:
-moz-linear-gradient(50% 100% , #2b446a 20%, #4b74b0 100%) 
repeat scroll 0 0 transparent;


}