<body>
<div > 
        <br>
        <br>
    
    
    <p class="heading1">Analyze Your Code Before You Go Forward!!!</p>

    <br>
    <br>


<h1>Enter the GitHub URL: </h1><textarea name="area" #git rows="3" cols="40"></textarea>

<br>
<br>
<br>
<br>
<input type="button" (click)=" getGitUrl(git.value)" value="Upload"   class="button button1">

<br>
<br>
<br>

<div><h2 class="test1">{{message}}</h2></div>

   

 Analyse Repository With:
 

 <button type="button"  (click)="ButtonClick('/cs')"  class="button button1" >Check-Style</button> 
 <button type="button"  (click)="ButtonClick('/pmd')"  class="button button1"> Pmd</button>   
 <button type="button"  (click)="ButtonClick('/sim')"  class="button button1">Simian</button>
 <button type="button"  (click)="ButtonClick('/all')"  class="button button1">All Tools</button> 
 



  
</div>


</body>